<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <!-- 클래스에 별명 설정 -->
	 <typeAliases>
	 	<typeAlias type="memory.dto.MemoryDTO" alias="memoryDTO"/>
	 	<typeAlias type="memory.dto.MemoryCommentDTO" alias="MemoryCommentDTO"/>
	 	<typeAlias type="showoff.dto.ShowoffDTO" alias="showoffDTO"/>
	 	<typeAlias type="member.dto.MemberDTO" alias="memberDTO"/>
	 	<typeAlias type="contact.dto.ContactDTO" alias="contactDTO"/>
		<typeAlias type="appmember.dto.AppMemberDTO" alias="appMemberDTO"/>
		<typeAlias type="recommand.dto.RecommandDTO" alias="recommandDTO"/>
		<typeAlias type="contact.dto.AppContactDTO" alias="appContactDTO"/>
	 	<typeAlias type="contact.dto.NoticeDTO" alias="noticeDTO"/>
	 	<typeAlias type="contact.dto.QuestionDTO" alias="questionDTO"/>
	 </typeAliases>
	 
	 <!-- SQL Mapper 설정 -->
	 <mappers>
	 	<mapper resource="mybatis/memory_mapping.xml"/>
	 	<mapper resource="mybatis/showoff_mapping.xml"/>
	 	<mapper resource="mybatis/member_mapping.xml"/>
	 	<mapper resource="mybatis/contact_mapping.xml"/>
	 	<mapper resource="mybatis/recommend_mapping.xml"/>
	 </mappers>
</configuration>
